@page
@model BuyLocal.DetailsModel
@{
    ViewData["Title"] = "Details";
}


<div class="row">

    <div class="col-lg-3">

        <h3 class="my-4">Welcome @Model.Username</h3>
        <div class="list-group" id="categoryList">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">


        <div class="row my-4">

            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@Model.Item.Name</a>
                    </h4>
                    <h5>$@Model.Item.Price</h5>
                    <p class="card-text">@Model.Item.Desc</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    <div class="float-right"><i class="fa fa-eye"></i> <label id="viewersCount">1</label></div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
@section Scripts {
    <script>
                var productId = '@Model.Item.ID';

    </script>
    <script src="~/js/product.js"></script>
    <script>
        connectionProductHub.on("NotifyProductViewerCount", function (count) {            
            //show notification
            var msg = count + " people are watching now";
            $('#viewersCount').notify(msg, { className: 'info' });
        });

        connectionProductHub.on("DisplayProductViewerCount", function (count) {
            //update viewer count
            $('#viewersCount').text(count);
        });
    </script>
    @*<script>
            $(document).ready(function () {

                setTimeout(function () {
                    //send notification
                    var productName = '@Model.Item.Name';
                    var message = 'someone person is watching \''+productName+'\' now.';
                    connectionProductHub.invoke("SendMessageNewProductViewer", message).catch(err => console.error(err));

                }, 1000); // How long do you want the delay to be (in milliseconds)?


            });


        </script>*@
}